In [1]:
import pandas

df_payables_data = pandas.read_excel("payables_data.xls")
df_payables_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Invoice Number                         20000 non-null  object
 1   Posting Date                           20000 non-null  object
 2   Invoice Date                           20000 non-null  object
 3   Payment Date                           13988 non-null  object
 4   Net Due Date (System Calculated Date)  20000 non-null  object
 5   Supplier ID                            20000 non-null  object
 6   Invoice Amount                         20000 non-null  int64
 7   Fiscal year                            20000 non-null  object
 8   Overdue                                20000 non-null  int64
 9   Invoice Status                         20000 non-null  object
 10  Spend Category                         20000 non-null  object
 11  Total Outstanding amount               20000 non-null  int64
 12  Late payment fees                      20000 non-null  int64
 13  Payterm_n                              20000 non-null  int64
 14  Vendor_Type                            20000 non-null  object
dtypes: int64(5), object(10)
memory usage: 2.3+ MB

In [2]:
df_payables_data['Posting Date'] = pandas.to_datetime(df_payables_data['Posting Date'])

In [3]:
df_payables_data['Invoice Date'] = pandas.to_datetime(df_payables_data['Invoice Date'])

In [4]:
df_payables_data['Payment Date'] = pandas.to_datetime(df_payables_data['Payment Date'])

C:\Users\user\AppData\Local\Temp\ipykernel_18632\4045955488.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_payables_data['Payment Date'] = pandas.to_datetime(df_payables_data['Payment Date'])

In [5]:
df_payables_data['Net Due Date (System Calculated Date)'] = pandas.to_datetime(df_payables_data['Net Due Date (System Calculated Date)'])

In [6]:
import sqlite3
import pandas

In [8]:
connection = sqlite3.connect("ppayables.db")
cur = connection.cursor()

payables_data = df_payables_data .values.tolist()

sql_create_table_payables = """
CREATE TABLE IF NOT EXISTS payables(
	"Invoice Number" TEXT PRIMARY KEY,
	"Posting Date" TIMESTAMP,
	"Invoice Date" TIMESTAMP,
	"Payment Date" TIMESTAMP,
	"Net Due Date (System Calculated Date)" TIMESTAMP,
	"Supplier ID" TEXT,
	"Invoice Amount" INTEGER,
	"Fiscal year" TEXT,
	"Overdue" INTEGER,
	"Invoice Status" TEXT,
	"Spend Category" TEXT,
	"Total Outstanding amount" INTEGER,
	"Late payment fees" INTEGER,
	"Payterm_n" INTEGER,
	"Vendor_Type" TEXT
);
"""

cur.execute(sql_create_table_payables)
connection.commit()

for i, row in enumerate(payables_data):
	sql_insert_payables = """
		INSERT INTO payables(
			"Invoice Number",
			"Posting Date",
			"Invoice Date",
			"Payment Date",
			"Net Due Date (System Calculated Date)",
			"Supplier ID",
			"Invoice Amount",
			"Fiscal year",
			"Overdue",
			"Invoice Status",
			"Spend Category",
			"Total Outstanding amount",
			"Late payment fees",
			"Payterm_n",
			"Vendor_Type"
			)
			VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
	"""
	cur.execute(sql_insert_payables, (row[0], str(row[1]), str(row[2]), str(row[3]), str(row[4]), row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14]))
	connection.commit()

connection.close()

OperationalError: database or disk is full

In [9]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("payables.db")

sql_payables = "SELECT * FROM payables"

df_payables = pd.read_sql_query(sql_payables, conn)

conn.close()

In [10]:
df_payables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Invoice Number                         20000 non-null  object
 1   Posting Date                           20000 non-null  object
 2   Invoice Date                           20000 non-null  object
 3   Payment Date                           20000 non-null  object
 4   Net Due Date (System Calculated Date)  20000 non-null  object
 5   Supplier ID                            20000 non-null  object
 6   Invoice Amount                         20000 non-null  int64
 7   Fiscal year                            20000 non-null  object
 8   Overdue                                20000 non-null  int64
 9   Invoice Status                         20000 non-null  object
 10  Spend Category                         20000 non-null  object
 11  Total Outstanding amount               20000 non-null  int64
 12  Late payment fees                      20000 non-null  int64
 13  Payterm_n                              20000 non-null  int64
 14  Vendor_Type                            20000 non-null  object
dtypes: int64(5), object(10)
memory usage: 2.3+ MB